bin
node_modules
packages
nuget
nupkg
obj
Properties
temp
*.cs
*.csproj
*.csproj.user
*.bindings
*.nuspec
*.sln
*.suo
*.js.map
*.nupkg
*.nupkg.zip
**\*.nupkg.zip
**\*.nupkg
**\nuget
**\nupkg
__*
package-lock.json
src/*.js
src/tests/*.js
.idea
/tests
